{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}

    <main class="container-fluid" id="main_block">
        <div class="container text-center" id="business_prices_block"> 
            <div class="row col-12">

                <h2 class="col-12">Me contacter</h2>

                <div class="col-6">
                    
                </div>

                <div class="col-6">
                    
                </div>
            </div>
        </div>
    </main>

{% endblock %}