{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}

    <main class="container-fluid" id="main_block">

        <div class="container text-center" id="title_block"> 
            <h1>Bienvenue !</h1>
            <h2 class="pt-2">Mehdi El Ouni <br> 
            Traducteur Japonais -> Français</h2>
        </div>

    </main>

{% endblock %}