{% extends 'base.html.twig' %}

{% block title %} Tarifs {% endblock %}

{% block body %}

    <main class="container-fluid" id="main_block">
        <div class="container text-center" id="prices_block"> 
            <div class="row">
                <div class="text-center col-12">
                    <h2>Vous êtes :</h2>
                </div>

                <div class="mt-5 col-4 offset-2">
                    <a class="btn btn-dark btn-lg" href="{{ path('personPricesPage') }}" role="button">un particulier ?</a>
                </div>

                <div class="mt-5 col-4">
                    <a class="btn btn-dark btn-lg" href="{{ path('businessPricesPage') }}" role="button">une entreprise ?</a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}